@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display: block;	/* This will allow these element to begin on the new line in many of the old browsers as they were intended to do by-default. However this wont work for Internet Explorer(IE) 8 and older version. That's because this older version of IE dont allow CSS style to be applied the element that the browser doesn't recognise. This can be overcome by adding some JavaScript code to the head section of html file.  */
} 

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
	padding: 0;
	margin: 0;
}

.banner {
	background-color: #11233b;
	color: white;
	padding: 10px 20px; /* 10px on Top & Bottom, 20px on Left & Right */
}

body{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

nav{
	background-color: #20416c;
	padding: 5px;
	margin-top: 1px;
}

li a {
	color: white
}

li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}

section{
	background-color: #bbbbbb;
	margin-top: 10px;
	padding: 5px;
}

article{
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}

main {
	width: 640px;
	float: left;
	margin-bottom: 10px;
}

aside {
	background-color: #bbbbbb;
	width: 270px;
	float: right;
	margin-top: 10px;
	padding: 20px;
}

footer {
	clear: both;
	background-color: #20416c;
	color: white;
	padding: 5px 20px;
}
